<div>
<!--   <p align="center">-->
<!--         	{% if page.copyright=='flyever' %}-->
<!--             <img src="http://www.dadaguo.com/assets/images/flyever.jpg" >-->
<!--            {% elsif page.copyright=='itmind' %}-->
<!--             <img src="http://www.dadaguo.com/assets/images/itmind.jpg" >-->
<!--            {% else %}-->
<!--             <img src="http://www.dadaguo.com/assets/images/keeppuresmile.jpg" >-->
<!--            {% endif %}-->
<!--         <br/>-->
<!--          扫码关注有惊喜-->
<!--   </p>-->
   <p align="center" style="margin-top: 15px; font-size: 11px;color: #cc0000;">
       <strong> 瞎写一点 (<a href="https://dadaguo.github.io">dadaguo-dadaguo</a>）</strong>
   </p>
</div>